<html>
<head>
	<title>{{pageTitle}}</title>
</head>
<body>
	<p><a href="/home.hbs">Home</p>
	<p><a href="/about.hbs">About</p>
	<p>Welcome to NodeJS World in Express</p>
	<footer>Copyright {{currentDate}}</footer>
</body>
</html>